<!DOCTYPE html>
<html>
<head>
    <title>Purplelab | Pricing calculator</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/css/custom-style.css">
</head>

<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <img class="center-v" src="/img/logo-calculator.png">
            <img class="right help-icon" src="/img/help.png" title="Test Title">
        </div>
    </nav>
</div>

<div class="form">
    <div class="item-form">
        <label>Business type</label>
        <div class="list">
            <select class="business-type-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Business size</label>
        <div class="list">
            <select class="business-size-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Geo</label>
        <div class="list">
            <select class="geo-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Therapeutic area</label>
        <div class="list">
            <select class="therapeutic_area-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Reports</label>
        <div class="list">
            <select class="reports-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Reports Retrievers</label>
        <div class="list">
            <select class="reports_retrievers-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label>Term</label>
        <div class="list">
            <select class="term-list">
            </select>
        </div>
    </div>

    <div class="item-form">
        <label># Of Users</label>
        <div class="list">
            <select class="num_of_users_list">
            </select>
        </div>
    </div>

    <div class="separator"></div>

    <div class="item-result">
        <label>Base Annual</label>
        <input class="base-annual" value="">
    </div>

    <div class="total">
        <label>Discounted<br/>Annual<br/>Subscription</label>
        <div class="price"></div>
    </div>

    <div class="item-result">
        <label>Full Term Pricing</label>
        <input class="full-term-pricing" value="">
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="/js/calculator.js"></script>
</body>
</html>